p.input-error {
    color: #E74C3C;
}
.column-title a {
	color: #ffffff;
}
.dataTables_length form {
	vertical-align: middle;
	display: inline-block;
}
.filter-list{
	background: #efefef;
	padding: 10px 10px 0px 10px;
	margin-bottom: 15px;
}
.img-circle.profile_img{
	padding: 0px!important;
	width: 60px!important;
	height: 60px!important;
	object-fit: cover!important;
}
.x_panel_table th {
    width: 250px;
}
body{
    background-color: #fff !important;
} 
.login-head-logo {
    text-align: center;
    margin-bottom: 20px; 
}
.login-sec .card-header {
    background: none;
    text-align: center;
    border: none;
    font-size: 26px; 
} 
.login-sec .card {
    background: #f8fafc; 
    border-radius: 10px;
    box-shadow: 0px 0px 15px #ccc;
    border: none;
    padding: 0 0 20px 0;
}
.login-sec #email { 
    height: 50px;
}
.login-sec #password { 
    height: 50px;
}
.login-sec button {
    background: #2c2f8c;
    border: none;
    height: 40px; 
}
.login-sec button:hover{ 
	background: #333;
}
.login-sec .btn-link{
	color: #2c2f8c;
}
.main_container {
    background: #2A3F54;
} 
.left_col {
    background: #fff;
    /* box-shadow: 0px 0px 10px rgba(0,0,0,0.3); */ 
} 
.nav.side-menu>li>a, .nav.child_menu>li>a {
    color: #000;
    font-weight: 500;
}
.nav.side-menu>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background: transparent;
    color: #2c2f8c !important;
}
.nav.side-menu>li.active>a {
    text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
    background: #2c2f8c;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
    color: #fff; 
}
.nav.side-menu>li.active>a:hover{
    color: #fff !important;
}
.nav.side-menu>li.current-page, .nav.side-menu>li.active {
    border-right: 2px solid #2c2f8c;
}
.nav li li.current-page a {
    color:  #2c2f8c;
}
.nav_menu{
    background: rgb(44,47,140);
    background: -moz-linear-gradient(left,  rgba(44,47,140,1) 0%, rgba(161,219,255,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(44,47,140,1) 0%,rgba(161,219,255,1) 100%);
    background: linear-gradient(to right,  rgba(44,47,140,1) 0%,rgba(161,219,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2f8c', endColorstr='#a1dbff',GradientType=1 ); 
}
.profile_info span{
    color: #000;
}
.profile_info h2 {   
    color: #333;
}
.menu_section h3{ 
    color: #000;
    text-shadow: none;
}
.nav_title{
    background: none;
    height: 77px;
}
.site_title{
    height: 65px;
}
.toggle a i {
    font-size: 26px;
    color: #fff;
}
.profile.clearfix {
    border-top: 1px solid #ccc;
}
img.profile-head-img {
    position: relative; 
    top: 4px;
}
.top_nav .nav>li>a:focus, .top_nav .nav>li>a:hover, 
.top_nav .nav .open>a, .top_nav .nav .open>a:focus, .top_nav .nav .open>a:hover {
    background: rgb(44,47,140);
    background: -moz-linear-gradient(left,  rgba(44,47,140,1) 0%, rgba(161,219,255,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(44,47,140,1) 0%,rgba(161,219,255,1) 100%);
    background: linear-gradient(to right,  rgba(44,47,140,1) 0%,rgba(161,219,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2f8c', endColorstr='#a1dbff',GradientType=1 );
    color: #fff !important; 
} 
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a{
    background: rgb(44,47,140);
    background: -moz-linear-gradient(left,  rgba(44,47,140,1) 0%, rgba(161,219,255,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(44,47,140,1) 0%,rgba(161,219,255,1) 100%);
    background: linear-gradient(to right,  rgba(44,47,140,1) 0%,rgba(161,219,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2f8c', endColorstr='#a1dbff',GradientType=1 ); 
    color: #fff !important;
}
.tile_stats_count {
    background: #fff;
    border: 1px solid #2c2f8c !important;
    padding: 15px !important;
    border-radius: 5px;
}
.tile_stats_count  .count{ 
    color:  #2c2f8c;
}
.tile_count .tile_stats_count span {
    font-size: 12px;
}
.dashboard-page-top span.count_top_icon {
    position: absolute; 
    right: 25px;
    font-size: 35px !important; 
    top:35px;
    color:  #ccc; 
}
footer { 
    background: rgb(44,47,140);
    background: -moz-linear-gradient(left,  rgba(44,47,140,1) 0%, rgba(161,219,255,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(44,47,140,1) 0%,rgba(161,219,255,1) 100%);
    background: linear-gradient(to right,  rgba(44,47,140,1) 0%,rgba(161,219,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2f8c', endColorstr='#a1dbff',GradientType=1 );
    color: #fff !important;
    padding: 15px 20px;
    display: block;
} 

.side-menu li a {
    border-bottom: 1px solid #ececec;    
}
.side-menu li a i{
    transition: all 0.3s ease-in;
}
.side-menu li a:hover i{
    margin-right: 7px;
}
.nav.side-menu>li>a {
    margin-bottom: 0;
}
.nav-md ul.nav.child_menu li:before{ 
    background: #2c2f8c;
}
.nav-md ul.nav.child_menu li:after{
    border-left: 1px solid #2c2f8c;
}
table.jambo_table thead {
    background: #5e5e5e;
    color: #ECF0F1;
} 
a.btn.btn-primary {
    background:#2c2f8c;
}
a.btn.btn-primary { 
    background: #4756a6; 
    font-size: 12px; 
    padding: 5px 10px; 
    border: none; 
    transition: all 0.5s ease-in; 
}
a.btn.btn-primary:hover{
    color: #fff; 
    background: #2c2f8c;
}
.main_container {
    background: #fff;
}
.switch {
    height: 24px;
    width: 50px;
}
.slider:before{ 
    height: 16px;
    width: 16px;
}
.current-page a{ 
    color:  #2c2f8c !important;
}
.table-responsive td {
    vertical-align: middle !important;
}
input:checked + .slider {
    background-color: #2c2f8c;
}
.form-control.btn.btn-primary {
    background: #4756a6;
    font-size: 12px; 
    padding: 5px 10px;
    border: none; 
    transition: all 0.5s ease-in;
}
.form-control.btn.btn-primary:hover{
    color: #fff;
    background: #2c2f8c;
}
.nav-sm .nav.child_menu li.active, .nav-sm .nav.side-menu li.active-sm {
    border-right: 2px solid #2c2f8c;
}
.nav-sm ul.nav.child_menu {
    background: #2c2f8c;
}
.nav-sm ul.nav.child_menu a {
    color: #fff !important;
    font-size: 15px;
}
.nav-md img.profile-head-img.small-logo {
    display: none;
}
.nav-sm .navbar.nav_title a.site_title22 span{
    display: block !important;
}
a.site_title22 {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%; 
    text-align: center;
}
a.site_title22 img {
    width: 55px;
    margin: 0 !important;
    padding: 0 !important; 
}
.nav-sm .profile {
    display: block;
}
.nav-sm .profile_pic img {
    margin-left: 0 !important;
}
.nav-sm .profile_pic {
    width: 100%;
    float: none;
    text-align: center;
}
.nav-sm .profile_info {
    padding: 5px;
    width: 100%;
    float: none;
    text-align: center;
}
.nav-sm .profile_info h2{
    font-size: 12px; 
}
.nav-sm ul.nav.child_menu li {
    padding: 0 0;
    text-indent: 8px;
}

.ajax-loader span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ajax-loader {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    z-index: 70;
}

.tab-content {
    position: relative;
    min-height: 101px;
}

.ajax-loader img {
    width: 122px;
}

/*.ajax-loader-parent-div .ajax-loader {

}*/
.x_panel .x_content .table-responsive {
    position: relative;
}
.modal-confirm button.close {
    background: #cf4232;
    display: inline-block;
    width: 50px;
    height: 50px;
    opacity: 1;
    text-shadow: none;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 25px;
    padding: 0px;
    font-weight: normal;
    box-shadow: -7px 7px 14px 0px rgba(0, 0, 0, 0.3);
    outline: none;
    cursor: pointer;
    z-index: 1;
    line-height: 0;
}
.modal-confirm .modal-footer button.btn-info{
    background:  #cf4232;
    border:none;
    border-radius:5px;
}
.modal-confirm .modal-footer button.btn-warning.user-delete{
    background: #16be40;
    border:none;
    border-radius:5px;
}
.modal-confirm .modal-header h4 {
    margin: 0;
    font-size: 22px; 
    color: #1f1a17;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}
.modal-confirm .modal-body{
    color: #000;
}